<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @human.name %>
</p>

<p>
  <b>Warriortype:</b>
  <%= @human.warriorType %>
</p>

<p>
  <b>Health:</b>
  <%= @human.health %>
</p>

<p>
  <b>Magicka:</b>
  <%= @human.magicka %>
</p>

<p>
  <b>Fatigue:</b>
  <%= @human.fatigue %>
</p>

<p>
  <b>Defense:</b>
  <%= @human.defense %>
</p>

<p>
  <b>Hasweapon:</b>
  <%= @human.hasWeapon %>
</p>

<p>
  <b>Hasshield:</b>
  <%= @human.hasShield %>
</p>

<%= link_to 'Back', humans_path %>
