<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @human.name %>
</p>

<p>
  <b>Warriortype:</b>
  <%= @human.warriorType %>
</p>

<p>
  <b>Health:</b>
  <%= @human.health %>
</p>

<p>
  <b>Magicka:</b>
  <%= @human.magicka %>
</p>

<p>
  <b>Fatigue:</b>
  <%= @human.fatigue %>
</p>

<p>
  <b>Strength:</b>
  <%= @human.strength %>
</p>

<p>
  <b>Endurance:</b>
  <%= @human.endurance %>
</p>

<p>
  <b>Wisdom:</b>
  <%= @human.wisdom %>
</p>

<p>
  <b>Intelligence:</b>
  <%= @human.intelligence %>
</p>

<p>
  <b>Speed:</b>
  <%= @human.speed %>
</p>

<p>
  <b>Agility:</b>
  <%= @human.agility %>
</p>

<p>
  <b>Defense:</b>
  <%= @human.defense %>
</p>

<p>
  <b>Hasweapon:</b>
  <%= @human.hasWeapon %>
</p>

<p>
  <b>Hasshield:</b>
  <%= @human.hasShield %>
</p>

<p>
  <b>Powerid:</b>
  <%= @human.powerID %>
</p>


<%= link_to 'Edit', edit_human_path(@human) %> |
<%= link_to 'Back', humans_path %>
